table.border {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid LightGray;
	border-collapse: collapse;
}
table.border td, table.border th {
	border: 1px solid LightGray;
	padding: 0.5em;
}

select.multi {
	width: 300px;
	size: 10;
}

div.intake-message {
	color: red;
}


div.typ-zadania-tooltip {
	width: 300px;
}

input.number-spinner {
	width: 50px;
}


